<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      <link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
  <head>
    <meta charset="UTF-8"></meta>
    <title>ホーム</title>
  </head>
  <body>
    <form th:action="@{/admin/edituser/${userInfo.userId}}" th:method="post" th:object="${userEditRequest}" class="container-sm">
    <table class="table">
    <thead>
        <tr>
            <th scope="col">UserId</th>
            <th scope="col">UserName</th>
            <th scope="col">Password</th>
            <th scope="col">PassUpdateDate</th>
            <th scope="col">LoginMissTimes</th>
            <th scope="col">Unlock</th>
            <th scope="col">Enabled</th>
            <th scope="col">UserDueDate</th>
            <th scope="col">RoleId</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${validationError}" th:each="error : ${validationError}">
        <td style="color:red;" th:text="${error}"></td>
    </tr>
         <tr>
         <!--参考：https://ti-tomo-knowledge.hatenablog.com/entry/2018/06/14/162616  -->
         <!--th:valueとth:nameを両方同じinput内に設定しようとするとなぜかvalueの方が空白になってしまうので、name属性はthをつけない。  -->
         <!--参考：https://b1tblog.com/2019/12/21/spring-boot-2/  -->
         <!-- input属性にデフォルト設定を設けたいときは、th:checkedにこの設定を保存する。 -->
        <td><span th:text="${userInfo.userId}"></span></td>
        <td><input type="text" th:value="${userInfo.userName}" name="userName"></input></td>
        <td><input type="text" th:value="${userInfo.password}" name="password"></input></td>
        <td><input type="text" th:value="${userInfo.passUpdateDate}" name="passUpdateDate"></input></td>
        <td><input type="text" th:value="${userInfo.loginMissTimes}" name="loginMissTimes"></input></td>
        <td><input type="checkbox" th:checked="${userInfo.unlock}" name="unlock"></input></td>
        <td><input type="checkbox" th:checked="${userInfo.enabled}" name="enabled"></input></td>
        <td><input type="text" th:value="${userInfo.userDueDate}" th:name="userDueDate"></input></td>
        <td><input type="text" th:value="${userInfo.roleId}" th:name="roleId"></input></td>
        </tr>
    </tbody>
</table>

<input type="submit" class="btn btn-primary" value="更新">
</form>
  </body>
   <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</html>