<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      <link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
  <head>
    <meta charset="UTF-8"></meta>
    <title>ホーム</title>
  </head>
  <body>
    <h1>Home</h1>

    <table class="table">
    <tr th:each="error : ${validationError}">
        <td style="color:red;" th:text="${error}"></td>
    </tr>
    <thead>
        <tr>
            <th scope="col">UserId</th>
            <th scope="col">UserName</th>
            <th scope="col">Password</th>
            <th scope="col">PassUpdateDate</th>
            <th scope="col">LoginMissTimes</th>
            <th scope="col">Unlock</th>
            <th scope="col">Enabled</th>
            <th scope="col">UserDueDate</th>
            <th scope="col">RoleId</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="users : ${usersList}">
          <td><a th:href="|/admin/edituser/${users.userId}|"><span th:text="${users.userId}"></span></a></td>
        <td><span th:text="${users.userName}"></span></td>
        <td><span th:text="${users.password}"></span></td>
        <td><span th:text="${users.passUpdateDate}"></span></td>
        <td><span th:text="${users.loginMissTimes}"></span></td>
        <td><span th:text="${users.unlock}"></span></td>
        <td><span th:text="${users.enabled}"></span></td>
        <td><span th:text="${users.userDueDate}"></span></td>
        <td><span th:text="${users.roleId}"></span></td>

        </tr>
    </tbody>
</table>

</form>
  </body>
   <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</html>