<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      <link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
  <head>
    <meta charset="UTF-8"></meta>
    <title>ホーム</title>
  </head>
  <body>
    <form th:action="@{/admin/edituser/${userInfo.userId}}" th:method="post" th:object="${userEditRequest}" class="container-sm">
    <table class="table">
    <thead>
        <tr>
            <th scope="col">UserId</th>
            <th scope="col">UserName</th>
            <th scope="col">Password</th>
            <th scope="col">PassUpdateDate</th>
            <th scope="col">LoginMissTimes</th>
            <th scope="col">Unlock</th>
            <th scope="col">Enabled</th>
            <th scope="col">UserDueDate</th>
            <th scope="col">RoleId</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${validationError}" th:each="error : ${validationError}">
        <td style="color:red;" th:text="${error}"></td>
    </tr>
        <tr>
        <td><span th:text="${userInfo.userId}"></span></td>
        <td><span th:text="${userInfo.userName}"></span></td>
        <td><span th:text="${userInfo.password}"></span></td>
        <td><span th:text="${userInfo.passUpdateDate}"></span></td>
        <td><span th:text="${userInfo.loginMissTimes}"></span></td>
         <td><input type="checkbox" th:placeholder="${userInfo.unlock}"></input></td>
        <td><input type="checkbox" th:placeholder="${userInfo.enabled}"></input></td>
        <td><span th:text="${userInfo.userDueDate}"></span></td>
        <td><span th:text="${userInfo.roleId}"></span></td>
        </tr>
       <tr>
        <td><span th:text="${userInfo.userId}"></span></td>
        <td><input type="text" th:placeholder="${userInfo.userName}" th:field="*{userName}"></input></td>
        <td><input type="text" th:placeholder="${userInfo.password}" th:field="*{password}"></input></td>
        <td><input type="text" th:placeholder="${userInfo.passUpdateDate}" th:field="*{passUpdateDate}"></input></td>
        <td><input type="text" th:placeholder="${userInfo.loginMissTimes}" th:field="*{loginMissTimes}"></input></td>
        <td><input type="checkbox" th:placeholder="${userInfo.unlock}" th:checked="*{unlock}"></input></td>
        <td><input type="checkbox" th:placeholder="${userInfo.enabled}" th:checked="*{enabled}"></input></td>
        <td><input type="text" th:placeholder="${userInfo.userDueDate}" th:field="*{userDueDate}"></input></td>
        <td><input type="text" th:placeholder="${userInfo.roleId}" th:field="*{roleId}"></input></td>
        </tr>
    </tbody>
</table>

<input type="submit" class="btn btn-primary" value="更新">
</form>
  </body>
   <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</html>