<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
  <head>
    <meta charset="UTF-8"></meta>
    <title>ログイン</title>
  </head>
  <body>
    <form id="loginForm" method="post" th:action="@{/login}">
    	<div class="form-group">
	      <label>ユーザーID：</label>
	      <input type="text" name="userId" class="form-control"/><br>
	      <br>
	      <label>パスワード：</label>
	      <input type="password" name="password" class="form-control"/><br>
	      <br>
	      <button type="submit" class="btn btn-primary">ログイン</button><br>
	      <br>
	      <a th:href="@{/register}">新規登録はこちら</a>
	      <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
	        th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
	        class="text-danger">
	        ログインエラーメッセージ
	      </p>
	  </div>
    </form>
  </body>
   <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</html>