<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
  <head>
    <meta charset="UTF-8"></meta>
    <title>ログイン</title>
  </head>
  <body>
    <form id="loginForm" method="post" th:action="@{/password/change}" th:object="${passwordForm}">
    	<div class="form-group">
    	<h2>パスワードの有効期限が切れています。</h2>
    	<h2>パスワードを更新してください。</h2>
	      <label>新規パスワード：</label>
	      <input type="text" name="password" class="form-control" th:field="*{password}"/><br>
		  <button type="submit" class="btn btn-primary">パスワード変更</button>
	  </div>
    </form>
  </body>
   <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</html>